<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="yahoofinance">
              <dir
                name="exchanges"/>
              <dir
                name="histquotes"/>
              <dir
                name="histquotes2"/>
              <dir
                name="query2v8"/>
              <dir
                name="quotes">
                <dir
                  name="csv"/>
                <dir
                  name="fx"/>
                <dir
                  name="query1v7"/>
                <dir
                  name="stock"/>
              </dir>
              <dir
                name="utils"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="java">
            <dir
              name="yahoofinance">
              <dir
                name="mock"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5"/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
